body {
  margin: 0;
  display: grid;
  height: 100vh;
  grid-template-columns: 2fr 8fr 4fr;
  grid-template-rows: 2fr 4fr 2fr;
}
ul {
  list-style: none;
}
#middle {
  grid-column-start: 2;
  grid-row-start: 2;
  display: grid;
  grid-template-columns: 4fr 2fr;
}
#Discard {
  display: grid;
  grid-column-start: 1;
  text-align: center;
}
#player_buttons {
  grid-column-start: 2;
  align-self: center;
}
#bluff,
#play {
  height: 30px;
  width: 50px;
}

#player1 {
  display: grid;
  grid-row-start: 3;
  grid-column-start: 2;
}

#player1_info {
  display: flex;
  justify-content: space-between;
}
#player2 {
  grid-row-start: 2;
  grid-column-start: 3;
  display: grid;
  grid-template-columns: 2fr 4fr;
}
#player2_info {
  transform: rotate(-90deg);
  grid-column-start: 1;
  align-self: center;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  left: 30px;
}
#player2_hand {
  transform: rotate(-90deg);
  align-self: center;
  grid-column-start: 2;
}
