body {
  margin: 0;
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(1, 1fr) repeat(1, 1fr) repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr) repeat(1, 2fr) repeat(1, 1fr);
}
ul {
  list-style: none;
}
#middle {
  grid-column-start: 2;
  grid-row-start: 2;
  display: grid;
  grid-template-columns: 4fr 2fr;
  background-color: aqua;
  text-align: center;
}
#discard_pile {
  display: grid;
  grid-column-start: 1;
  text-align: center;
}
#player_buttons {
  grid-column-start: 2;
  align-self: center;
}
#bluff,
#play {
  height: 30px;
  width: 50px;
}

#player1 {
  grid-row-start: 3;
  grid-column-start: 2;
  background-color: rgb(0, 255, 21);
}

#player1_info {
  display: flex;
  align-self: center;
}

#player2 {
  grid-row-start: 2;
  grid-column-start: 3;
  display: flex;
  flex-direction: row-reverse;
  transform: rotate(-90deg);
  justify-content: start;
  background-color: rgb(255, 0, 98);
}
#player2_info {
  align-self: center;
  display: flex;
  align-items: baseline;

  background-color: rgb(225, 0, 255);
}

#player2_hand {
  background-color: aqua;
}
#player3 {
  grid-row-start: 1;
  grid-column-start: 2;
  display: flex;
}
#player3_hand {
  background-color: aqua;
  align-self: center;
  text-align: right;
  margin-right: 60px;
  display: flex;
  flex-direction: column-reverse;
}

#player4 {
  grid-row-start: 2;
  grid-column-start: 1;
  display: flex;
  flex-direction: row-reverse;
  transform: rotate(90deg);
  justify-content: start;
  background-color: rgb(255, 0, 98);
}
#player4_info {
  align-self: center;
  display: flex;
  align-items: baseline;

  background-color: rgb(225, 0, 255);
}

#player4_hand {
  background-color: aqua;
}
img {
  height: 130px;
  width: 80px;
}
#discarded_cards,
#player1_hand ul,
#player2_hand ul,
#player3_hand ul,
#player4_hand ul {
  display: flex;
}
#discarded_cards li,
#player1_hand li,
#player2_hand li,
#player3_hand li,
#player4_hand li {
  margin: 10px;
}
#discarded_cards li {
  perspective: 1000px;
}
#discarded_cards li image {
  transition: transform 0.6s;
}

.card {
  position: relative;
  width: 100px;
  height: 140px;
  margin: 10px;
  perspective: 1000px;
}
.card li {
  padding: 0;
}
.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;

  backface-visibility: hidden;
  transition: transform 1s;
}

.front {
  transform: rotateY(180deg);
}
.card.is-flipped .front {
  transform: rotateY(0deg);
}

.card.is-flipped .back {
  transform: rotateY(180deg);
}

.material-symbols-outlined {
  display: flex;
  font-variation-settings: 'FILL' 10, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  color: red;
}
